@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato);

body, table, form, input, td, th, p, textarea, select {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

#main-panel {
  background-image: url(https://www.softwear.nl/images/softwear_s_medium.png) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 300px 300px;
}

/* Build Monitor Plugin style overrides */

.dashboard {
  background: rgb(34,34,34) !important;
}

.build-monitor .project.unknown > .progress {
  background-color: rgb(157,157,157) !important;
}
.build-monitor .project.successful > .progress {
  background-color: rgb(71, 187, 111) !important;
}
.build-monitor .project.unstable > .progress {
  background-color: rgb(209, 205, 90) !important;
}
.build-monitor .project.failing > .progress {
  background-color: rgb(210, 103, 113) !important;
}

.build-monitor .unknown    {
  background-color: rgb(211,211,211) !important;
}
.build-monitor .successful {
  background-color: rgb(71, 187, 111) !important;
}
.build-monitor .unstable   {
  background-color: rgb(209, 205, 90) !important;
}
.build-monitor .failing    {
  background-color: rgb(210, 103, 113) !important;
}
.build-monitor .disabled   {
  background-color: rgb(157,157,157) !important;
}

@-webkit-keyframes forUnknown {
  0% {
    background-color: #9d9d9d;
  }
  100% {
    background-color: lightgrey;
  }
}
@-moz-keyframes forUnknown {
  0% {
    background-color: #9d9d9d;
  }
  100% {
    background-color: lightgrey;
  }
}
@keyframes forUnknown {
  0% {
    background-color: #9d9d9d;
  }
  100% {
    background-color: lightgrey;
  }
}
@-webkit-keyframes forSuccessful {
  0% {
    background-color: rgb(71, 187, 111) !important;
  }
  100% {
    background-color: rgb(127,208,155) !important;
  }
}
@-moz-keyframes forSuccessful {
  0% {
    background-color: rgb(71, 187, 111) !important;
  }
  100% {
    background-color: rgb(127,208,155) !important;
  }
}
@keyframes forSuccessful {
  0% {
    background-color: rgb(71, 187, 111) !important;
  }
  100% {
    background-color: rgb(127,208,155) !important;
  }
}
@-webkit-keyframes forUnstable {
  0% {
    background-color: rgb(209, 205, 90) !important;
  }
  100% {
    background-color: rgb(226,223,150) !important;
  }
}
@-moz-keyframes forUnstable {
  0% {
    background-color: rgb(209, 205, 90) !important;
  }
  100% {
    background-color: rgb(226,223,150) !important;
  }
}
@keyframes forUnstable {
  0% {
    background-color: rgb(209, 205, 90) !important;
  }
  100% {
    background-color: rgb(226,223,150) !important;
  }
}
@-webkit-keyframes forFailing {
  0% {
    background-color: rgb(210, 103, 113) !important;
  }
  100% {
    background-color: rgb(227,162,168) !important;
  }
}
@-moz-keyframes forFailing {
  0% {
    background-color: rgb(210, 103, 113) !important;
  }
  100% {
    background-color: rgb(227,162,168) !important;
  }
}
@keyframes forFailing {
  0% {
    background-color: rgb(210, 103, 113) !important;
  }
  100% {
    background-color: rgb(227,162,168) !important;
  }
}
