@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato);

body, table, form, input, td, th, p, textarea, select {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#main-panel {
  background-image: url(https://www.softwear.nl/images/softwear_s_medium.png) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 300px 300px;
}
